@tailwind base;
@tailwind components;
@tailwind utilities;

button {
    @apply bg-gray-500 hover:bg-gray-700 text-white font-bold py-1 px-4 rounded
}

.max-w-third {
    max-width: calc(100% / 3);
}

.fade-in {
    animation: fadeIn 0.25s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@layer utilities {
    .pixelated {
      image-rendering: pixelated;
    }
  }